<h1 class="thin center-align">Checkout</h1>
<p class="grey-text text-darken-3 lighten-3 center-align" >This is where you would enter your payment information</p>
<div class="section center-align">
  <%= link_to "Continue", products_path, class: 'btn btn-large' %>
</div>
